@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#headarea{
    height: 10vh;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    top: 0;
}

#headarea::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom,rgba(19, 19, 19, 0.68) 27%,rgba(29, 29, 27, 0));
}

#navarea{
    height: 10vh;
    width: 90%;
    padding-top: 2em;
    z-index: 5;
}
#ionnavbar{
    justify-content: space-evenly;
    width: 100%;
}

#content{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* margin-top: 10vh; */ 
    /* background: red; */
}

.section{
    min-height: 90vh;
    background: #011321;
    width: 100%;
}

.typeeffectcontainer h1, .txt-type{
    display: inline-block;
    /* margin-top: -10px;
    margin-bottom: 20px; */
    color: white;
    font-size: 4em;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
/* cursor */
.txt-type > .txt {
    color: #119ed9;
    font-size: 106px;
    border-right: 0.2rem solid white;
    animation: blink .5s step-end infinite alternate;
    -webkit-animation: blink .7s step-end infinite alternate; 
}

@-webkit-keyframes blink { 50% { border-right-color: #ffffff00; }}

.becomesponsor{
  height: 5vh;
  width: -moz-fit-content;
  padding: 1%;
  border-color: #119ed9;
  border: 2px solid #119ed9;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 3%;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.becomesponsor:hover{
  color: #119ed9;
}
.down-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9vh;
    position: absolute;
    bottom: 1%;
    z-index: 2;
}

.down-arrow-platinum{
  bottom: 1%;
}

.chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #bbb;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
    }

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }
    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }
    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}

.welcomeSpons{
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.welcomeSpons > img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
}

.welcomespons-inner{
    max-height: 90vh;
    height: 90vh;
    width: 100%;
    /* background: rgba(255, 0, 0, 0.452); */
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
    z-index: 2;
}

.welcomespons-innter-col1{
    width: 65%;
    height: 100%;
}
.welcomespons-innter-col2{
    width: 35%;
    height: 100%;
    /* background: #119ed9; */
}


.typeeffectcontainer{
    /* margin: 10% 0 0 21%; */
    display: flex;
    justify-content: left;
    flex-direction: column;
    max-width: 68%;
    width: 68%;
    float: right;
    margin-top: 26%
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(19, 19, 19, 0.5) 27%,rgba(0, 0, 0, 0.82));
    z-index: 1;
}

.logocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10%;
  flex-direction: column;
  margin-bottom: 2%;
}
.main > .logocontainer{
  justify-content: unset;
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
}
.sponsortypee {
  font-family: 'Russo One', sans-serif !important;
  text-transform: uppercase;
  margin-top: 23%;
  font-size: 2em;
}
.logoinnercontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2%;
  border: 2px solid;
  border-radius: 9px;

  position: relative;
  overflow: hidden;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}

.about{
  background: #17232d;
  width: 78%;
  height: 100%;
  min-height: 80vh;
  display: flex;
}

.mainsponsor {
  display: flex;
  align-items: center;
  position: relative;
  background: #17232d;
  min-height: 80vh;
  width: 76%;
  margin-bottom: 4%;
}

.mainsponsortext{
  padding: 0;
  margin: 0;
  width: 50%;
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  margin-left: 7%;
}

.mainsponsorimg{
  width: 30%;
  align-self: center;
  position: absolute;
  right: 6%;
}

.main{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.platinum{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gold{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.silver{
  min-height: fit-content;
  min-height: -moz-fit-content;
  min-height: -webkit-fit-content;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.bronze {
  min-height: fit-content;
  min-height: -moz-fit-content;
  min-height: -webkit-fit-content;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.platinumsponsorsub{
    max-height: 30rem;
    height: 30rem;
    background: #17232d;
    padding: 3% 1% 1% 4%;
    display: flex;
    margin-bottom: 7%;
}

.platinumsponsorsub > img {
    max-width: 50%;
    object-fit: contain;
    margin-left: 2%;
}
hr {
  border: 1px inset #bbb;
    width: 55%;
    margin: -5% auto 4% auto;
}

.subsponsorname{
  min-height: 1em !important;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 1.8em;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.subsponsornameMain {
  font-size: 2em;
}

.subsponsorname > a {
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subsponsorname img { 
    height: 1.5rem;
    margin-left: auto;
}

.subplatinumcontainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.subplatinumtext{
    max-width: 90%;
    margin-top: 2%;
}

.goldcontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.silverbronzecontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.goldsponsorsub {
  width: 48%;
  background: #17232d;
  min-height: 30vh;
  margin: 0% auto;
}

.goldimgcontainer{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.goldimgcontainer > img {
  width: 80%;
}

.goldsponsorsub > p {
  text-align: center;
}

.silverbronzesub{
  display: flex;
  justify-content: center;
  width: 33%;
  background: #17232d;
  height: 16vh;
  margin: auto;
  margin-top: 1%;
}

.silverbronzesub > img {
  width: 80%;
}
