*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#headarea{
    height: 10vh;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    top: 0;
}

#headarea::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom,rgba(19, 19, 19, 0.68) 27%,rgba(29, 29, 27, 0));
}

#navarea{
    height: 10vh;
    width: 90%;
    padding-top: 2em;
    z-index: 5;
}
#ionnavbar{
    justify-content: space-evenly;
    width: 100%;
}

#content{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* margin-top: 10vh; */ 
    /* background: red; */
}

.section{
    min-height: 90vh;
    background: #011321;
    width: 100%;

}
.typeeffectcontainer h1, .txt-type{
    display: inline-block;
    /* margin-top: -10px;
    margin-bottom: 20px; */
    color: white;
    font-size: 4em;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
/* cursor */
.txt-type > .txt {
    color: #119ed9;
    font-size: 106px;
    border-right: 0.2rem solid white;
    animation: blink .5s step-end infinite alternate;
    -webkit-animation: blink .7s step-end infinite alternate; 
}

@-webkit-keyframes blink { 50% { border-right-color: #ffffff00; }}

.down-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9vh;
    position: absolute;
    bottom: 4%;
}

.chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #bbb;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
    }

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }
    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }
    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}

.welcomeSpons{
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.welcomespons-inner{
    max-height: 90vh;
    height: 90vh;
    width: 100%;
    background: rgba(255, 0, 0, 0.452);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.typeeffectcontainer{
    width: 58%;
    margin: auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
}