{% extends "appuser_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} | Change Password{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1>Change password</h1>
        </div>
    <form method="POST" action="/appuser_password" class="col-xs-12 col-md-12">
        {{ form.csrf_token }}
        <div class="form-group">
            {% if user == 1 %}
                {{ form.username }}<br />
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.confirm_password) }}
                {{ wtf.form_field(form.change) }}
            {% elif user == 0 %}
                {{ form.username }}<br />
                {{ wtf.form_field(form.password) }}<br />
                {{ wtf.form_field(form.proceed) }}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}