{% extends "layout.html" %}
{% block title %} | Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <article>
            <p>This is ION Racing's local web interface for the active directory for users and computers.</p>
            <p>Here team members will be able to register for user accounts and look up information about our
                workstations/desktop-computers.</p>
            <p>If any question or issue or general iqueries should arise you can go <a href="/contact">here</a> to
                contact the IT-department.</p>
            <h6>To get started please start <a href="/terms">here</a>.</h6>
        </article>
    </div>
</div>
{% endblock %}