{% extends "layout.html" %}
{% block title %} | Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <script src="{{ url_for('static', filename='applications/jquery-3.4.1.min.js') }}"></script>
    <script>
        var all_cars = JSON.parse('{{ cars | tojson }}');
    </script>
    <script src="{{ url_for('static', filename='applications/homeslider.js') }}"></script>
    {% endblock%}
    {% block content %}
    <div class="facebookcontainer">
        <div id="fb-root"></div>
        <div class="fb-page" data-href="https://www.facebook.com/IONRACING/" data-tabs="timeline" 
        data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" 
        data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/IONRACING/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/IONRACING/">ION Racing UIS</a></blockquote></div>
    
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v7.0" nonce="MtaBi4QA"></script>
</div>

<div class="homecontainer">
    <div class="prevContainer">
        <div class="namecontainer">
            <ul class="carnamelistcontainer">
            </ul>
        </div>
        <a class="prev" onclick="slidechange(-1)">&#10094;</a>
    </div>
    <!-- <div class="carContainer" style="background-image: url({{ url_for('static', filename='images/test.png') }});"> -->
    
    <div class="carContainer">
        <div class="slidecontainer">
        </div>
    </div>
    <div class="nextContainer">
        <a class="next" onclick="slidechange(1)">&#10095;</a>
    </div>
</div>

<hr />

<div class="specs-container">
    <div class="specs_inner_container">

        <div class="spec">
            <p class="coolfont" id="engine">V6</p>
            <span class="specName">Turbo Engine</span>
        </div>
        <div class="spec">
            <p class="coolfont" id="speed">110 <sup class="supp">km/h</sup></p>
            <span class="specName">Top Speed</span>
        </div>
        <div class="spec">
            <p class="coolfont" id="weight">401 <sup class="supp">kg</sup></p>
            <span class="specName">Weight</span>
        </div>
        <div class="spec">
            <p class="coolfont" id="year"></p>
            <span class="specName">Year</span>
        </div>
    </div>
</div>
</div>
<div class="down-arrow-container">
    <div class="chevron"></div>
    <div class="chevron"></div>
    <div class="chevron"></div>
</div>
{% endblock %}
{% block footer %}
    <div>
        <h5>Footer</h5>
    </div>
{% endblock footer %}