{% extends "layout.html" %}
{% block title %} | Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <script src="{{ url_for('static', filename='applications/jquery-3.4.1.min.js') }}"></script>
    <script>
        var all_cars = JSON.parse('{{ cars | tojson }}');
        var all_posts = JSON.parse('{{ posts | tojson }}');
        
    </script>
    <script src="{{ url_for('static', filename='applications/homeslider.js') }}"></script>
{% endblock%}
{% block content %}
    <div class="postscontainer">
        <div class="postscaruselcontainer">
            <div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active">
                            <p class="minidesc">adsdasddddd sdasda</p>
                        </li>
                        <li data-target="#carouselIndicators" data-slide-to="1">
                            <p class="minidesc">Test</p>
                        </li>
                        <li data-target="#carouselIndicators" data-slide-to="2">
                            <p class="minidesc">test 2</p>
                        </li>
                        <li data-target="#carouselIndicators" data-slide-to="3">
                            <p class="minidesc">test 2</p>
                        </li>
                        <li data-target="#carouselIndicators" data-slide-to="4">
                            <p class="minidesc">test 2</p>
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="background-image: url({{ url_for('static', filename='images/bcimg1.jpg') }});">
                            <div class="overlay"></div>
                        </div>
                        <div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/bcimg2.png') }});">
                            <div class="overlay"></div>
                        </div>
                        <div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/bcimg3.jpg') }});">
                            <div class="overlay"></div>
                        </div>
                        <div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/bcimg4.jpg') }});">
                            <div class="overlay"></div>
                        </div>
                        <div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/bcimg5.jpg') }});">
                            <div class="overlay"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="mainsponsorcontainer">
        <img src="{{ url_for('static', filename='images/MECA_ALT.svg')}}" class="sponsorimg" alt="" srcset="">
        <img src="{{ url_for('static', filename='images/Altium.svg')}}" class="sponsorimg" alt="" srcset="">
        <img src="{{ url_for('static', filename='images/Ansys.svg')}}" class="sponsorimg" alt="" srcset="">
    </div>

    <div class="carslider">
        <div class="carslidecontainer">
            <div class="prevContainer">
                <div class="namecontainer">
                    <ul class="carnamelistcontainer">
                    </ul>
                    <img src="{{ url_for('static', filename='images/scroll.png')}}" id="scrollimg" alt="" srcset="">
                </div>
                <a class="prev" onclick="slidechange(-1)">&#10094;</a>
            </div>
            <!-- <div class="carContainer" style="background-image: url({{ url_for('static', filename='images/test.png') }});"> -->
            
            <div class="carContainer">
                <div class="slidecontainer">
                </div>
            </div>
            <div class="nextContainer">
                <a class="next" onclick="slidechange(1)">&#10095;</a>
            </div>
        </div>
    
        <hr />
    
        <div class="specs-container">
            <div class="specs_inner_container">
    
                <div class="spec">
                    <p class="coolfont" id="engine">V6</p>
                    <span class="specName">Turbo Engine</span>
                </div>
                <div class="spec">
                    <p class="coolfont" id="speed">110 <sup class="supp">km/h</sup></p>
                    <span class="specName">Top Speed</span>
                </div>
                <div class="spec">
                    <p class="coolfont" id="weight">401 <sup class="supp">kg</sup></p>
                    <span class="specName">Weight</span>
                </div>
                <div class="spec">
                    <p class="coolfont" id="year"></p>
                    <span class="specName">Year</span>
                </div>
            </div>
        </div>
    
        <div class="down-arrow-container">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="footer">
        <h5>Footer</h5>
    </div>
{% endblock footer %}