<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="ION Racing Website" />
    <meta name="author" content="ION Racing" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>ION Racing{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/font-awesome.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='applications/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='applications/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='applicaitons/navbar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='applications/app.js') }}"></script>
    {% block head %}{% endblock head %}
</head>

<body>
    <div id="headarea">

        <div id="navpad"></div>

        <nav id="navarea" class="navbar navbar-default navbar-static-top navbar-expand-md navbar-dark" role="navigation">
            <div class="container">
                <!-- Brand and mobile menu toggle -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">
                        <img src="{{ url_for('static', filename='images/logos/ION_Racing.png') }}" alt="ION Racing" />
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapsable nav items -->
                <div id="myCollapse" class="navbar-collapse collapse w-100 dual-collapse2">
                    <ul class="navbar-nav mr-auto nav" id="ionnavbar" style="justify-content: space-evenly;">
                        {% for i in range(0, head_menu|length) %}
                        {% if active==i %}
                        <li class="active nav-item"><a
                                href="/{{ head_menu[i] | lower }}">{{ head_menu[i] | replace("_", " ") }}</a></li>
                        {% else %}
                        <li class="nav-item"><a href="/{{ head_menu[i] | lower }}">{{ head_menu[i] | replace("_", " ") }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% with warnings = get_flashed_messages(with_categories=true, category_filter=["warning"]) %}
        {% with errors = get_flashed_messages(with_categories=true, category_filter=["error"]) %}
        {% with info = get_flashed_messages(with_categories=true, category_filter=["info"]) %}
        {% with successes = get_flashed_messages(with_categories=true, category_filter=["success"]) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, warning in warnings %}
            <li class="{{ category }}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><p>{{ warning }}</p><i class="fa fa-times flash-element" aria-hidden="true"></i></li>
            {% endfor %}
            {% for category, error in errors %}
            <li class="{{ category }}"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><p>{{ error }}</p><i class="fa fa-times flash-element" aria-hidden="true"></i></li>
            {% endfor %}
            {% for category, i in info %}
            <li class="{{ category }}"><i class="fa fa-info-circle" aria-hidden="true"></i><p>{{ i }}</p><i class="fa fa-times flash-element" aria-hidden="true"></i></li>
            {% endfor %}
            {% for category, success in successes %}
            <li class="{{ category }}"><i class="fa fa-check-circle" aria-hidden="true"></i><p>{{ success }}</p><i class="fa fa-times flash-element" aria-hidden="true"></i></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% block content %}{% endblock %}

        {% block footer %}{% endblock footer %}
    </div>
</body>

</html>