<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="ION Racing Website" />
    <meta name="author" content="ION Racing" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>ION Racing{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='applications/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='applications/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='applicaitons/navbar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='applications/app.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}" />
    {% block head %}{% endblock head %}
</head>

<body>
    <div id="headarea">

        <div id="navpad"></div>

        <nav id="navarea" class="navbar navbar-default navbar-static-top navbar-expand-md navbar-dark" role="navigation">
            <div class="container">
                <!-- Brand and mobile menu toggle -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">
                        <img src="{{ url_for('static', filename='images/logos/ION_Racing.png') }}" alt="ION Racing" />
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapsable nav items -->
                <div id="myCollapse" class="navbar-collapse collapse w-100 dual-collapse2">
                    <ul class="navbar-nav mr-auto nav" style="justify-content: space-evenly;">
                        {% for i in range(0, head_menu|length) %}
                        {% if active==i %}
                        <li class="active nav-item"><a
                                href="/{{ head_menu[i] | lower }}">{{ head_menu[i] | replace("_", " ") }}</a></li>
                        {% else %}
                        <li class="nav-item"><a href="/{{ head_menu[i] | lower }}">{{ head_menu[i] | replace("_", " ") }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="heading">
            <div class="container">
                <h2>Welcome</h2>
                <p>This is a local web-interface for <span
                        style="text-decoration: underline rgb(255, 255, 255);">ION</span> Racing UiS. <br />
                    For the official website please go to <a href="https://ionracing.no/">this</a> site instead. (Not working due to domain issues...)</p>
            </div>
        </div>
    </div>
    <div id="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock footer %}
</body>

</html>