{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} | User Reg{% endblock %}
{% block content %}
<!-- User registration form -->
<div class="container">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contact.css') }}" />
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1>Register for a new user.</h1>
            <p>This form will make domain user creation easier. All fields is required to make an account.</p>
        </div>
        <form id="user_reg" name="user_reg" method="POST" action="/user_reg/register" class="col-xs-12 col-md-12">
            <div class="form-group">
                <div class="col-xs-12"><br />
                    {% for field in form %}
                    {% if field.id != "csrf_token" %}
                    {{ wtf.form_field(field) }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}